<!DOCTYPE html>
<html lang="en" ng-app="documee_demo">
<head>
    <meta charset="UTF-8">
    <title>Documee Example</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css">
    <link rel="stylesheet" href="style.css">

    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="bower_components/oauth-js/dist/oauth.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>



    <script src="app.js"></script>
</head>
<body ng-controller="mainController">


    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#/">Documee</a>
            </div>

            <form class="navbar-form navbar-right" role="search" ng-submit="updateApiKey()">
                <div class="input-group">
                    <span class="input-group-addon">API-key</span>
                    <input type="text" class="form-control" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-describedby="basic-addon1" ng-model="api_key">
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>

        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Facebook</div>
                    <div class="panel-body">
                        <div ng-hide="!auth.fb.authenticated">
                            <ul>
                                <li ng-repeat="state in fbstate.states">
                                    <a href="" ng-click="switchFbState(state)">{{state.description}}</a>
                                </li>
                            </ul>
                            <div ng-repeat="state in fbstate.states">
                                <div ng-if="fbstate.current==state.name" ng-include="state.template"></div>
                            </div>
                        </div>

                        <div ng-hide="auth.fb.authenticated">
                            <button type="button" ng-click="loginFacebook()" class="btn btn-default navbar-btn">
                                Login
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">Twitter</div>
                    <div class="panel-body">
                        <div ng-hide="!auth.twitter.authenticated">
                            <ul>
                                <li ng-repeat="state in twitterstate.states">
                                    <a href="" ng-click="switchTwitterState(state)">{{state.description}}</a>
                                </li>
                            </ul>
                            <div ng-repeat="state in twitterstate.states">
                                <div ng-if="twitterstate.current==state.name" ng-include="state.template"></div>
                            </div>
                        </div>

                        <div ng-hide="auth.twitter.authenticated">
                            <button type="button" ng-click="loginTwitter()" class="btn btn-default navbar-btn">
                                Login
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>