<div class="container-fluid">

    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    Data from:
                    <div class="btn-group">
                        <button ng-repeat="provider in providers" type="button" class="btn btn-default" ng-model="useProvider[provider]" ng-disabled="!isAuthenticated(provider)" btn-checkbox>{{provider}} </button>
                    </div>
                </div>
                <div class="panel-body">

                    <ul>
                        <li ng-repeat="state in progState.states">
                            <a href="" ng-click="switchState(state)">{{state.description}}</a>
                        </li>
                    </ul>
                    <div ng-repeat="state in progState.states">
                        <div ng-if="progState.current==state.name" ng-include="state.template"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>