<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title">API-key</h4>
</div>
<div class="modal-body">
    <input type="text" class="form-control" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" aria-describedby="basic-addon1" ng-model="api_key">
</div>
<div class="modal-footer">
    <button type="button" ng-click="save()" class="btn btn-primary" data-dismiss="modal">Save</button>
    <button type="button" ng-click="cancel()" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>